html,body{
  --fontsize9: 0.9rem;
  --fontsize85: 0.85rem;
  --fontsize8: 0.8rem;
  --fontsize75: 0.75rem;
  --fontsize7:0.7rem;
  --fontsize65: 0.65rem;
  --fontsize6: 0.6rem;
  --fontsize55: 0.55rem;
  --fontsize5: 0.5rem;
  --fontsize45: 0.45rem;
  --fontsize4: 0.4rem;
}
